<a href="https://colab.research.google.com/github/sarikamohan08/python_assignments/blob/main/assignment%2010/practice_program7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

create a tuple from multiple data types

In [1]:
tuple1 = ("tuple", False, 3.2, 1)
tuple1

('tuple', False, 3.2, 1)

In [3]:
a = ['tuple','dict','try']
b = [2.3,4.5,6.7]
c = [1,2,3]
d = [True, False, True]
tuple2 = (a,b,c,d)
tuple2

(['tuple', 'dict', 'try'], [2.3, 4.5, 6.7], [1, 2, 3], [True, False, True])

 Create a list of length 3 and Create a list of length 4, For each element in the first list,
Display the corresponding index element of the second list

In [4]:
header = ['data science', 'Blue mix', 'algorithms']
match = ['Red hat', 'Blue mixx','Green gold','Orange Ai']
for header, match in zip(header, match):
# Display the corresponding index element of the second list:
  print(header, 'has the following options:', match)

data science has the following options: Red hat
Blue mix has the following options: Blue mixx
algorithms has the following options: Green gold

display an example of Nested For Loops Using List Comprehension

In [6]:
headers = ['data science', 'Blue mix', 'algorithms']
matches = ['Red hat', 'Blue mixx','Green gold','Orange Ai']
[(header, match) for header in headers for match in matches ]

[('data science', 'Red hat'),
 ('data science', 'Blue mixx'),
 ('data science', 'Green gold'),
 ('data science', 'Orange Ai'),
 ('Blue mix', 'Red hat'),
 ('Blue mix', 'Blue mixx'),
 ('Blue mix', 'Green gold'),
 ('Blue mix', 'Orange Ai'),
 ('algorithms', 'Red hat'),
 ('algorithms', 'Blue mixx'),
 ('algorithms', 'Green gold'),
 ('algorithms', 'Orange Ai')]

write a program for breaking and exiting out of loop

In [7]:
armies = ['Red Army', 'Blue Army', 'Green Army']
for army in armies:
  print(army)
  if army == 'Blue Army':
    print('Blue Army Found! Stopping.')
    break

Red Army
Blue Army
Blue Army Found! Stopping.

A loop will exit when completed, but using an else statement we can add an action at t
he conclusion of the loop if it hasnâ€™t been exited earlier.

In [9]:
for army in armies:
  print(army)
  if army == 'Orange Army':
    break
else:
    print('Looped Through The Whole List, No Orange Army Found')

Red Army
Blue Army
Green Army
Looped Through The Whole List, No Orange Army Found